{% load staticfiles %}
<html>
<head>
    <title>Creation</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <img src="{% static 'images\insert.jpg' %}">
                <form method="post">
                    {% csrf_token %}
                    {{ create.as_p }}
                    <input type="submit" value="submit" class="btn btn-success">
                    <input type="reset" value="clear" class="btn btn-danger">
                    <a href="/home/">HOME</a>
                    <a href="/retrive/">RETRIVE</a>
                    <a href="/update/">UPDATE</a>
                    <a href="/delete/">DELETE</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>